.pricing-header {
	margin-bottom: 48px;
	text-align: start;
	h2,
	p {
		font-weight: 400;
	}
}

.pricing-tables-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -12px;
	margin-left: -12px;

	&:first-child {
		margin-top: -12px;
	}

	&:last-child {
		margin-bottom: -12px;
	}
}

.pricing-table {
	position: relative;
	padding: 12px;
	max-width: 388px;
	flex-grow: 1;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		width: 200%;
		max-width: 200%;
		height: 435px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		bottom: 18.8%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background-image: url("../images/pricing-illustration.png");
	}
}

.pricing-table-header,
.pricing-table-features-title,
.pricing-table-features li {
	border-bottom: 1px solid rgba(color(typography, 2), 0.24);
}
.pricing-table-main {
	margin-top: 200px;
}
.pricing-section-title {
	color: color(bg, 3);
}
.section-paragraph {
	color: rgb(43, 43, 43);
}

.pricing-table-inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background: color(bg, 4);
	padding: 24px;
	height: 100%;

	> * {
		position: relative; /* To display all elements above the box with shadow */
		width: 100%;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@include shadow;
	}
}

.pricing-table-price {
	@if (get-font-family(heading) != get-font-family(base)) {
		@include font-family(heading);
	}
}

.pricing-table-price-currency {
	color: color(typography, 2);
}

.pricing-table-features-title {
	color: color(typography, 1);
	@include font-weight(bold);
	text-align: center;
}

.pricing-table-features {
	li {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 14px 0;
		color: rgb(212, 212, 212);
		&::before {
			content: "";
			width: 12px;
			height: 12px;
			padding-right: 30px;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNiA2LjRMMS42IDQgMCA1LjYgNS42IDEyIDE2IDEuNiAxNC40IDB6IiBmaWxsPSIjMDJDQkIxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
			background-repeat: no-repeat;
		}
	}
}

.pricing-table-cta {
	align-self: flex-end;
}

.pricing-table-product {
	position: absolute;
	top: -20px;
}

.section-product-features {
	margin: 40px 0;
	h2,
	h3 {
		color: rgba(0, 0, 0, 0.8);
		font-weight: 400;
		margin: 0;
	}
	h2 {
		font-size: 1.08rem;
		margin-bottom: 1em;
	}
	h3 {
		font-size: 0.73rem;
		line-height: 1.6rem;
		span {
			font-weight: 600;
		}
	}

	.features {
		display: flex;
		div {
			flex: 0 0 45%;
		}
	}
}
hr {
	background: rgba(0, 0, 0, 0.1);
}

@include media(">medium") {
	.pricing-header {
		margin-bottom: 52px;
	}
}
